{% extends "base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Currency Converter</title>
    {% block stylesheet %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler-flags.min.css">
    <link rel="stylesheet" href="static/currency_converter.css">
    <link rel="stylesheet" href="static/base.css">

<!-- <script type="text/javascript" src="/templates/resources/js_scripts/currency_js.js"></script> -->
    {% endblock %}
<body>
{% block content %}
    <div class="container-fluid pt-3">
        <div class="text-center m-auto">
            <h1>Currency Converter</h1>
            <p class="pt-2 description">Over 20 different currencies to choose from, with a real-time exchange rate</p>
            <div>
                <span class="flag flag-sm flag-country-ar"></span>
                <span class="flag flag-sm flag-country-au"></span>
                <span class="flag flag-sm flag-country-br"></span>
                <span class="flag flag-sm flag-country-ca"></span>
                <span class="flag flag-sm flag-country-cl"></span>
                <span class="flag flag-sm flag-country-co"></span>
                <span class="flag flag-sm flag-country-cr"></span>
                <span class="flag flag-sm flag-country-eg"></span>
                <span class="flag flag-sm flag-country-eu"></span>
                <span class="flag flag-sm flag-country-in"></span>
                <span class="flag flag-sm flag-country-jo"></span>
                <span class="flag flag-sm flag-country-kr"></span>
                <span class="flag flag-sm flag-country-lb"></span>
                <span class="flag flag-sm flag-country-mx"></span>
                <span class="flag flag-sm flag-country-ng"></span>
                <span class="flag flag-sm flag-country-qa"></span>
                <span class="flag flag-sm flag-country-us"></span>
                <span class="flag flag-sm flag-country-jp"></span>
                <span class="flag flag-sm flag-country-cn"></span>
            </div>

            <!-- <div class="convert_from_div m-auto">
                <input class="lWzCpb ZEB7Fb" value="1" id="currency_val_from" aria-label="Currency Amount Field" type="number">
                <div class="select_from_div">
                    <select class="select_from text-center" id="currency_type_from" aria-label="Currency Type">
                        <option value="ARS">Argentine Peso</option>
                        <option value="AUD">Australian Dollar</option>
                        <option value="CAD">Canadian Dollar</option>
                        <option value="EUR">Euro</option>
                        <option value="INR">Indian Rupee</option>
                        <option value="MXN">Mexican Peso</option>
                        <option selected value="USD">US Dollar</option>
                        <option value="CNY">Yuan Renminbi</option>
                    </select>
                </div>
            </div> -->
        </div>
        <div class="convert_from_div m-auto p-5 ">
            <div class="currency_box">
                <input class="currency_input currency" value="1" id="currency_val_from" aria-label="Currency Amount Field" type="number">
                    <div class="select_from_div">
                        <select class="select_from text-center currency" id="currency_type_from" aria-label="Currency Type">
                            <option value="ARS">Argentine Peso</option>
                            <option value="AUD">Australian Dollar</option>
                            <option value="BRL">Brazilian Real</option>
                            <option value="CAD">Canadian Dollar</option>
                            <option value="CLP">Chilean Peso</option>
                            <option value="COP">Colombian Peso</option>
                            <option value="CRC">Costa Rican Colon</option>
                            <option value="DKK">Danish Krone</option>
                            <option value="EGP">Egyptian Pound</option>
                            <option value="EUR">Euro</option>
                            <option value="INR">Indian Rupee</option>
                            <option value="JOD">Jordanian Dinar</option>
                            <option value="KRW">Korean Won</option>
                            <option value="LBP">Lebanese Pound</option>
                            <option value="MXN">Mexican Peso</option>
                            <option value="NGN">Nigerian Naira</option>
                            <option value="QAR">Qatari Rial</option>
                            <option selected value="USD">US Dollar</option>
                            <option value="JPY">Yen</option>
                            <option value="CNY">Yuan Renminbi</option>
                        </select>
                    </div>
            </div>
        </div>

        <div class="convert_from_div m-auto p-5 pt-1">
            <div class="currency_box">
                <input class="currency_input" id="currency_val_to" aria-label="Currency Amount Field" type="number">
                    <div class="select_from_div">
                        <select class="select_from text-center currency"  id="currency_type_to" aria-label="Currency Type">
                            <option value="ARS">Argentine Peso</option>
                            <option value="AUD">Australian Dollar</option>
                            <option value="BRL">Brazilian Real</option>
                            <option value="CAD">Canadian Dollar</option>
                            <option value="CLP">Chilean Peso</option>
                            <option value="COP">Colombian Peso</option>
                            <option value="CRC">Costa Rican Colon</option>
                            <option value="DKK">Danish Krone</option>
                            <option value="EGP">Egyptian Pound</option>
                            <option selected value="EUR">Euro</option>
                            <option value="INR">Indian Rupee</option>
                            <option value="JOD">Jordanian Dinar</option>
                            <option value="KRW">Korean Won</option>
                            <option value="LBP">Lebanese Pound</option>
                            <option value="MXN">Mexican Peso</option>
                            <option value="NGN">Nigerian Naira</option>
                            <option value="QAR">Qatari Rial</option>
                            <option value="USD">US Dollar</option>
                            <option value="JPY">Yen</option>
                            <option value="CNY">Yuan Renminbi</option>
                        </select>
                    </div>
                </div>
        </div>




        <!-- <div class=" m-0">
            <canvas id="myChart"></canvas>
          </div> -->
        <div class="chart-container m-auto " style="position: static; width:80vw;">
            <div class="d-flex justify-content-center" style="position: static; height:40vh; width:80vw; padding:0; margin:0;">
                <canvas id="myChart" class="text-center"></canvas>

            </div>

            <div class="pt-4 d-flex justify-content-around ">
                <button class="btn btn-success " style="text-transform: capitalize;">Last 30 days</button>
                <button class="btn btn-success " style="text-transform: capitalize;">Last 15 days</button>
                <button class="btn btn-success " style="text-transform: capitalize;">Last 7 days</button>
            </div>
        </div>


    </div>



    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        let currency_val_from = document.getElementById("currency_val_from");
        let currency_type_from = document.getElementById("currency_type_from");

        let currency_val_to = document.getElementById("currency_val_to");
        let currency_type_to = document.getElementById("currency_type_to");

        let requestURL = "https://api.exchangerate.host/convert?from=USD&to=EUR"; 
            let request = new XMLHttpRequest(); 
            request.open('GET', requestURL);
            request.responseType = 'json';
            request.send();
            request.onload = function() {
                var response = request.response;
                // console.log(response);
                currency_val_to.value = Math.round(currency_val_from.value*response.info.rate*100)/100;
            }
        document.getElementById('currency_val_from').addEventListener('change', function() {
            currency_val_from = this;
            currency_type_from = document.getElementById("currency_type_from");
            currency_type_to = document.getElementById("currency_type_to");
            
            requestURL = "https://api.exchangerate.host/convert?from=" + currency_type_from.value + "&to=" + currency_type_to.value; 
            request = new XMLHttpRequest(); 
            request.open('GET', requestURL);
            request.responseType = 'json';
            request.send();

            request.onload = function() {
                let response = request.response;
                currency_val_to.value = Math.round(currency_val_from.value*response.info.rate*100)/100;
            }
        });
        document.getElementById('currency_type_from').addEventListener('change', function() {
            currency_val_from = document.getElementById("currency_val_from");
            currency_type_from = this;
            currency_type_to = document.getElementById("currency_type_to");
            
            requestURL = "https://api.exchangerate.host/convert?from=" + currency_type_from.value + "&to=" + currency_type_to.value; 
            request = new XMLHttpRequest(); 
            request.open('GET', requestURL);
            request.responseType = 'json';
            request.send();

            request.onload = function() {
                let response = request.response;
                currency_val_to.value = Math.round(currency_val_from.value*response.info.rate*100)/100;
            }
        });

        document.getElementById('currency_type_to').addEventListener('change', function() {
            currency_val_from = document.getElementById("currency_val_from");
            currency_type_from = document.getElementById("currency_type_from");;
            currency_type_to = this;
            
            requestURL = "https://api.exchangerate.host/convert?from=" + currency_type_from.value + "&to=" + currency_type_to.value; 
            request = new XMLHttpRequest(); 
            request.open('GET', requestURL);
            request.responseType = 'json';
            request.send();

            request.onload = function() {
                let response = request.response;
                currency_val_to.value = Math.round(currency_val_from.value*response.info.rate*100)/100;
            }
        });

        document.getElementById('currency_val_to').addEventListener('change', function() {
            currency_val_from = document.getElementById("currency_val_from");
            currency_type_from = document.getElementById("currency_type_from");
            currency_type_to = document.getElementById("currency_type_to");
            currency_val_to = this;
            
            requestURL = "https://api.exchangerate.host/convert?from=" + currency_type_to.value + "&to=" + currency_type_from.value; 
            request = new XMLHttpRequest(); 
            request.open('GET', requestURL);
            request.responseType = 'json';
            request.send();

            request.onload = function() {
                let response = request.response;
                currency_val_from.value = Math.round(currency_val_to.value*response.info.rate*100)/100;
            }
        });


        /* TODO: change graph when the top currency is modified */


        let numsArray = [];
        let ratesArray = [];
        let daysArray = [];
        const ctx = document.getElementById('myChart');


        let today = new Date();

        const daysBefore = 30;
        let priorDate = new Date(new Date().setDate(today.getDate() - daysBefore));
        let start_date_dd = String(priorDate.getDate()).padStart(2, '0');
        let start_date_mm = String(priorDate.getMonth() + 1).padStart(2, '0'); //January is 0!
        let start_date_yyyy = priorDate.getFullYear();
        let start_date = start_date_yyyy + "-" + start_date_mm + "-" + start_date_dd;

        let end_date_dd = String(today.getDate()).padStart(2, '0');
        let end_date_mm = String(today.getMonth() + 1).padStart(2, '0');
        let end_date_yyyy = today.getFullYear();
        let end_date = end_date_yyyy + "-" + end_date_mm + "-" + end_date_dd;


        for(let i = daysBefore-1; i >= 0; i--) {
                let date = new Date(new Date().setDate(today.getDate() - i));
                let dd = String(date.getDate()).padStart(2, '0');
                let mm = String(date.getMonth() + 1).padStart(2, '0'); //January is 0!
                let yyyy = date.getFullYear();
                let full_date = yyyy + "-" + mm + "-" + dd;
                daysArray.push(full_date)
        }
        let ratesFunction = function() {

            let graphRequest = "https://api.exchangerate.host/timeseries?start_date=" + start_date + "&end_date=" + end_date; 
            let request1 = new XMLHttpRequest(); 
            request1.open('GET', requestURL);
            request1.responseType = 'json';
            request1.send();
            console.log(graphRequest);
            graphRequest.onload = function() {
                var response1 = request1.response;
                console.log("hello world");
                console.log(response1);
                console.log(response1.rates['2023-08-12']);
                console.log(response1.rates['2023-08-12']['AED'])
            

                for(let j = 0; j < daysBefore;j++) {
                    var response1 = graphRequest.response;
                    console.log(response1.rates);
                    ratesArray.push(response1.rates[daysArray[j]]['USD']);
                }
            }

            
            return ratesArray;
        }


        window.onload = function() {
            // let ratesLine = ratesFunction();
            // console.log(ratesLine);
            new Chart(ctx, {
                type: 'line',
                data: {
                    labels: daysArray,
                    datasets: [{
                    label: 'Rate to sell 1 USD',
                    data: ratesArray,
                    borderWidth:  1
                    }]
                },
                options: {
                    scales: {
                    y: {
                        beginAtZero: true
                    }
                    }
                }
        });
        }        

    </script>
    {% endblock %}

    {% block footer %}
    {% endblock %}
    
</body>
</html>