.img-fluid-custom {
    max-width: 150px;
    height: auto;
    padding: 0;
}
.navbar {
    height: 130px;
}
.navbar-clicked, .navbar {
    background-color: rgb(92, 222, 211);
}
@media (max-width: 1200px) {
    .navbar-brand {
        text-align: center; /* Center the logo */
        margin: auto;
        display: block;
    }
}
.nav-link, .subheading {
    font-size: 1.1em;
}
@media (width < 1200px) {
    /* .nav-item {
        width: 40%;
    } */
    .dropdown-menu {
        width: 60%;
    }
}
.nav-link:hover {
    color: black;
    font-weight: bold;
}
body {
    background-color: rgb(241,254,253);
}
ul li:hover > ul,
ul li:focus-within > ul,
ul li ul:hover,
ul li ul:focus {
  visibility: visible;
  opacity: 1;
  display: block
}

ul li ul li {
  clear: both;
  width: 100%;
}
.nav-button {
    background-color: white;
    border: 2px solid black;
}
.nav-button:hover {
    background-color: #f3f3f3;
}