.illustration {
    max-width: 50%;
}
.nav-link, .subheading {
    font-size: 1.1em;
}
body {
    background-color: rgb(241,254,253);
}
.subheading {
    font-family: 'Nunito Sans';
}
@media (width < 760px) {
    .side-text {
        width: 100%;
        /* min-width: 100%; */
        text-align: center;
    }
}
@media (width >= 760px) {
    .side-text {
        width: 80%;
        /* min-width: 100%; */
        text-align: center;
    }
}
.sign-up {
    /* width: 39%; */
    background-color: #3c8c85;
}
.home-heading {
    font-family: 'Roboto';
    font-weight: 700;
}