<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock %}</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&family=Open+Sans&family=Poppins&family=Roboto&display=swap" rel="stylesheet">
  {% block stylesheet %}{% endblock %}
  <link rel="stylesheet" href="static/base.css">
</head>
<body>
  <nav class="navbar navbar-expand-xl bg-body-tertiary mb-5" >
    <div class="container-fluid  navbar-clicked">
      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="{{url_for('home')}}"><img src="/static/images/mr_budget_logo.png" class="img-fluid-custom" alt="Mr Budget"></a>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav  mx-auto">
        <li class="nav-item dropdown mx-3">
          <a class="nav-link text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            How it works
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{url_for('how_it_works.info')}}">Why Mr Budget</a></li>
            <li><a class="dropdown-item" href="{{url_for('how_it_works.payment_tracker')}}">Payment Tracker</a></li>
            <li><a class="dropdown-item" href="{{url_for('how_it_works.budget_visualizer')}}">Budget Visualizer</a></li>
            <li><a class="dropdown-item" href="{{url_for('how_it_works.sub_management')}}">Subscription Management</a></li>
            <li><a class="dropdown-item" href="{{url_for('how_it_works.alerts')}}">Alerts</a></li>
            <li><a class="dropdown-item" href="{{url_for('how_it_works.budget_envelopes')}}">Budget Envelopes</a></li>
            <li><a class="dropdown-item" href="{{url_for('how_it_works.security')}}">Security</a></li>
          </ul>
        </li>
        <li class="nav-item mx-3"><a class="nav-link text-dark" href="{{url_for('budget_uni.budget_uni')}}">Budget University</a></li>
        <li class="nav-item mx-3"><a class="nav-link text-dark" href="{{url_for('stocks.stocks')}}">Stocks</a></li>
        <li class="nav-item dropdown mx-3">
          <a class="nav-link text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Resources
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{{url_for('resources.home_aff_calc')}}">Home Affordability Calculator</a></li>
            <li><a class="dropdown-item" href="{{url_for('resources.loan_repay_calc')}}">Loan Repayment Calculator</a></li>
            <li><a class="dropdown-item" href="{{url_for('resources.currency_converter')}}">Currency Converter</a></li>
          </ul>
        </li>
        <li class="nav-item mx-3"><a class="nav-link text-dark" href="#">Mr. Salary</a></li>
      <!-- </ul> -->
    <!-- </div> -->
    <div class="d-flex flex-row ps-xl-5 py-4 py-xl-0">
      <form class="" action="{{url_for('register')}}">
        <button class=" mx-1 p-2 px-md-3 btn btn-md btn-rounded nav-button">Sign up</button>
      </form>
      <form class="" action="{{url_for('login')}}">
        
        <button class=" mx-1 p-2 px-md-3 btn btn-md btn-rounded nav-button">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-unlock-fill" viewBox="0 0 16 16" id="lock">
            <path d="M11 1a2 2 0 0 0-2 2v4a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9a2 2 0 0 1 2-2h5V3a3 3 0 0 1 6 0v4a.5.5 0 0 1-1 0V3a2 2 0 0 0-2-2z"/>
          </svg>
          Sign In</button>
      </form>
    </div>
  </ul>
    </div>
  </div>
</nav>
  {% block content %}
  {% endblock %}

  <footer class="text-center text-lg-start bg-light text-muted mt-5">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-lg-block">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->
  

      


      <!-- Right -->
      <div class="container">

        <a href="https://www.facebook.com" class="me-4 fab fa-facebook"></a>
        <a href="https://www.twitter.com" class="me-4 fab fa-twitter"></a>
        <a href="https://www.tiktok.com" class="me-4 fab fa-tiktok"></a>
        <a href="https://www.instagram.com" class="me-4 fab fa-instagram"></a>
        <!-- <a href="https://www.linkedin.com" class="me-4 fab fa-linkedin"></a> -->
        <!-- <a href="https://www.github.com" class="me-4 fab fa-github"></a> -->

      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4 footer-sec">
              Mr Budget
            </h6>
            <p>
                <a href="#!" class="text-reset">About Us</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Careers</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Contact Us</a>
              </p>
              <p>
                <a href="#!" class="text-reset">Copyright</a>
              </p>

          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4 footer-sec">
              Useful links
            </h6>
            <p>
              <a href="#!" class="text-reset">Pricing</a>
            </p>
            <p>
              <a href="#!" id="settings" class="text-reset">Settings</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Orders</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Help</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold ms-3 mb-4 footer-sec">
              Contact
            </h6>
            <p><i class="fas fa-home me-3"></i> San Diego, CA</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              info@mrbudget.com
            </p>
            <p><i class="fas fa-print me-3"></i> +1 (619) 451 4842</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2023 Copyright:
      <a class="text-reset fw-bold" href="https://mdbootstrap.com/">Mr Budget</a>
    </div>
    <!-- Copyright -->
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>